.Navbar {
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    font-size: 100%;
    z-index: 10;
    /* background-color: grey; */
}

.netflixLogo {
    height: 40px;
    width: 120px;
    margin-left: 50px;
}

.netflixLogo>img { 
    max-width: 100%;
}

.profileLogo {
    height: 40px;
    width: 40px;
    margin-right: 40px;
}

.profileLogo>img {
    max-width: 100%;
}

@media screen and (max-width: 1000px) {
    .Navbar {
        font-size: 50%;
    }
}